:root {
    --altura-frase: 2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-geral {
    position: relative;
}

.titulo {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: ghostwhite;
}

.titulo h1 {
    text-align: center;
    font-size: 10rem;
    font-family: 'Esteban';
}

.background {
    background-color: #CCC;
    opacity: 0.25;
}

.container-svg {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100vh; 
    background: transparent;   
    transform: translateY(-100vh);
    z-index: 1;
}

.container-svg > svg {
    width: 100%;
    height: 100%;
    background-color: transparent;

}

/******************** vis */


.container-svg p.frases {
    font-family: 'Esteban';
    font-size: 1.5rem;
    position: absolute;
    max-width: 50vw;
}

.container-svg p.frases span {
    background-color: ghostwhite;
    color: #222;
}

.container-svg p.frases span::before,
.container-svg p.frases span::after {
    content: '"';
}

