:root {
    --altura-frase: 2rem;
    --w-mobile: 580px;
    --cor-texto: #222;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.container-geral {
    position: relative;
}

article {
    background-color: transparent;
    transform: translateY(-100vh);
    scroll-snap-type: block mandatory;
    height: 100vh;
    overflow: scroll;
}

.slide {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;

}

.slide > h2 {
    padding-top: 2rem;
    padding-left: 2rem;
    font-family: "Esteban";
    /*font-size: 1.5rem;*/
}

.slide > h2.titulo {
    width: 100%;
    text-align: center;
}

.slide > h2.subtitulo {
    opacity: 0;
}

.slide > h2 > span {
    padding-bottom: .5rem;
    border-bottom: 5px solid var(--cor-texto);
}

.titulo {

    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo h1 {
    text-align: center;
    font-size: 5.5rem;
    font-family: 'Esteban';
}

.background {
    background-color: #CCC;
    opacity: 0.25;
}

.container-svg {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100vh; 
    background: ghostwhite;   
    z-index: -1;
}

.container-svg > svg {
    width: 100%;
    height: 100%;
    background-color: transparent;

}


/******************** vis */


.container-svg p.frases {
    font-family: 'Esteban';
    font-size: 1.25rem;
    position: absolute;
    max-width: 50vw;
}

.container-svg p.frases span {
    background-color: ghostwhite;
    color: var(--cor-texto);
}

/*.container-svg p.frases span::before,
.container-svg p.frases span::after {
    content: '"';
}*/

.container-svg div.rotulos {
    position: absolute;
    font-family: 'Fira Code';
}

.container-svg div.rotulos h2 {
    font-size: 0.8rem;
}

.container-svg div.rotulos p {
    font-size: .7rem;
}

